---
---
@charset "utf-8";
// @import "./github.css";

$font-color: #303030;
$link-color: #2262eb;
$font-size: 16px;

$header-font-size: 2rem;
$header-padding: 1rem;
$header-height: $header-font-size + 2 * $header-padding;

@mixin flex-row-center() {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@mixin monospace() {
    font-face: "PT Mono", monospace;
}

@mixin sans-serif() {
    font-family: "PT Sans Caption", sans-serif;
}

@mixin serif() {
    font-family: "PT Serif Caption", serif;
}

*, *::before, *::after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    color: $font-color;
    font-size: $font-size;
    width: 100%;
    height: 100%;
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    height: $header-height;
    padding: $header-padding;
    background: white;
    box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.3);
    z-index: 2;

    @include flex-row-center();

    .banner-link {
        @include flex-row-center();
    }

    .banner-image {
        display: block;
        height: $header-font-size;
        margin-right: 1rem;
    }

    .banner-text {
        @include serif();
        color: $font-color;
        font-size: $header-font-size;
        font-weight: normal;
    }
}

main {
    width: 80%;
    max-width: 50rem;
    margin: 2rem auto;
    @include sans-serif();
}

a {
    text-decoration: none;
    color: $link-color;
}

.post-list {
    list-style: none;
}

.post-list-item {
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 1.5rem;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.3);

    .post-title,
    .post-description {
        margin-bottom: 1rem;
    }

    .post-title {
        @include serif();
        font-size: 1.5rem;
        line-height: 1.75rem;
        color: $link-color;
    }

    .post-description,
    .post-date {
        color: #606060;
    }
}

.post-list-item:hover {
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.3);
}
