body {
    min-height: 100%;
    width: calc(100vw - 4rem);
    background: #eeeeee;
    color: #111111;

    font-family: Roboto, sans-serif;
    font-size: 16px;

    margin: 0;
    padding: 2rem;
}

h2 {
    border-bottom: 1px solid #111111;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

pre {
    font-family: 'Roboto Mono', monospace;
    font-size: 15px;
}

.bold {
    font-weight: bold;
}

.script {
    margin-left: 6rem;
}
