---
layout: default
title: Jarrett Meyer
---

<ul class="post-list">
  {% for post in site.posts %}
  <li class="post-list-item">
    {% if post.thumbnail and post.thumbnail != "" %}
    <a href="{{ post.url | prepend: site.baseurl }}" class="post-thumbnail-link" style="background-image: url({{ post.thumbnail }})"></a>
    {% endif %}
    <div class="post-meta">
      <a href="{{ post.url }}">
        <div class="post-title">{{ post.title }}</div>
      </a>
      <div class="post-description">{{ post.description }}</div>
      <div class="post-date">{{ post.date | date: "%d %b %Y" }}</div>
    </div>
  </li>
  {% endfor %}
</ul>
