---
import PageLayout from "@/layouts/PageLayout.astro";
---

<PageLayout title="Developer Testing">
  <ul>
    <li>
      <a href="/develop/test-play-pause-control">Test Play Pause Control</a>
    </li>
  </ul>
</PageLayout>
