---
import SlideLayout from "@/layouts/SlideLayout.astro";
---

<SlideLayout title="Let us make AI in our image">
  <section>
    <h1>Let us make AI in our image</h1>
  </section>

  <section>
    <h2>"Let us make humankind in our image, after our likeness."</h2>
    <h4>Genesis 1:26</h4>
  </section>

  <section>
    <h2>1. AI is already here... And you ❤️ it!</h2>
  </section>

  <section>
    <h2>2.</h2>
  </section>

  <section>
    <h2>3.</h2>
  </section>

  <section>
    <h2>4.</h2>
  </section>

  <section>
    <h2>5.</h2>
  </section>

  <section>
    <h2>6.</h2>
  </section>

  <section>
    <h2>7.</h2>
  </section>

  <section>
    <h2>8.</h2>
  </section>

  <section>
    <h2>Conclusion</h2>
  </section>
</SlideLayout>
