body {
    background: white;
    color: black;
    font-size: 14px;
    line-height: 1.4;
}

a {
    color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0.5em;
}

h1 {
    font-size: 20px;
}

h2 {
    font-size: 18px;
}

h3 {
    font-size: 16px;
}

li {
    margin-bottom: 6px;
}

p {
    margin-top: 0;
    margin-bottom: 6px;
}

section {
    margin-top: 0;
}

ul {
    margin-top: 0;
}

.card {
    box-shadow: none;
    padding: 0;
    page-break-inside: avoid;
}

.card-title {
    margin-bottom: 6px;
    font-size: 16px;
}

.print-keep-together {
    page-break-inside: avoid;
}

.section-subtitle {
    margin-top: 0;
}

.section-title {
    margin-top: 16px;
}
