@mixin monospace {
    font-family: "Fira Code", monospace;
    font-weight: normal;
}

@mixin sans-serif {
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
}

@mixin serif {
    font-family: Literata, serif;
    font-weight: normal;
}
