@media (max-width: $media-breakpoint) {
    .site-body {
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: 1fr;
        grid-template:
            "sidebar"
            "main";
    }

    .sidebar {
        width: 100%;
        height: auto;
    }

    .main {
        height: auto;
    }
}