$post-list-item-border-radius: 12px;

.post-list {
    display: block;
    list-style: none;

    .post-list-item {
        transition: all 300ms ease-in-out;
        border-radius: $post-list-item-border-radius;
        background: $post-list-item-background;
    
        margin-top: 0;
        margin-left: 1rem;
        margin-right: 1rem;
        margin-bottom: 1rem;
        max-width: $main-max-width;
    
        display: flex;
        flex-direction: row;
        justify-content: stretch;
        align-items: stretch;
    
        transform: translate(0, 0);
        box-shadow: 0 1px 1px 0px rgba(32, 32, 32, 0.2);
    
        &:hover {
            transform: translate(0, -2px);
            box-shadow: 0 15px 45px -10px rgba(32, 32, 32, 0.2);
        }
    }
    
    .post-thumbnail-link {
        width: 260px;
        height: 200px;
        background-size: 260px 200px;

        border-top-left-radius: $post-list-item-border-radius;
        border-bottom-left-radius: $post-list-item-border-radius;
    
        flex-grow: 0;
        flex-shrink: 0;
    
        background-repeat: no-repeat;
    }
    
    .post-meta {
        margin: 0.5rem 1rem 0.5rem 0.5rem;
        display: flex;
    
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }
    
    .post-title {
        @include serif();
        font-size: 24px;
        margin-bottom: 0.25rem;
    }
    
    .post-description {
        color: $soft-font-color;
        font-size: 16px;
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 1px;
    }
    
    .post-date {
        color: $soft-font-color;
        font-size: $post-date-font-size;
    }
}

@media (max-width: $media-breakpoint) {
    .post-list {
        .post-thumbnail-link {
            width: 130px;
            height: 100px;
            background-size: 130px 100px;
        }

        .post-title {
            font-size: 20px;
        }

        .post-description {
            display: none;
            // font-size: 14px;
        }

        .post-date {
            font-size: 12px;
        }
    }
}

