.recipe {
    $accent-color: #811c63;
    $li-width: 1rem;

    max-width: $main-max-width;
    margin: 1rem;

    background: #ffffff;

    h2, h3, h4 {
        @include sans-serif();
    }

    h3 {
        color: lighten($base-font-color, 10%);
        border-bottom: 1px solid $accent-color;
        margin-top: 2rem;   
        margin-bottom: 1rem;     
    }

    h4 {
        color: lighten($base-font-color, 20%);
        margin-top: 1rem;
        margin-left: 2rem;
    }

    img {
        max-width: 100%;
    }

    p {
        margin-bottom: $post-margin-bottom;
    }

    table {
        margin-bottom: $post-margin-bottom;
        border-collapse: collapse;
        width: 100%;
    }

    th,
    td {
        padding: 4px;
    }

    thead {
        tr {
            border-bottom: 1px solid $table-border-color;
        }

        th {
            text-align: left;
        }
    }

    tbody {
        tr {
            background: $table-background-odd;
            border-top: 1px solid $table-border-color;
        }

        tr:nth-child(even) {
            background: $table-background-even;
        }
    }

    ol, ul {
        margin-left: 2rem;
        margin-bottom: $post-margin-bottom;
    }

    ul {
        list-style: none;
    }

    li {
        display: list-item;
        text-align: left;
    }

    li::before {
        content: "\25b6";
        color: $accent-color;
        font-weight: bold;
        font-size: 0.75rem;
        display: inline-block;
        margin-left: -1 * $li-width;
        width: $li-width;
    }

    .recipe-category {
        color: #811c63;
    }

    .recipe-header {
        @include sans-serif();
        border-bottom: 1px solid $accent-color;
        margin-bottom: 1rem;
    }

    .recipe-footer {
        margin-top: 4rem;
        margin-bottom: 2rem;
    }
}
