

.sidebar {
    grid-area: sidebar;
    background: $sidebar-background;
    color: $sidebar-font-color;
    width: $sidebar-width;
    height: 100vh;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.header {
    margin-top: 1rem;
    margin-bottom: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.header-banner {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .header-banner-logo {
        display: block;
        height: $header-logo-height;
    }

    .header-banner-text {
        @include serif();
        display: block;
        font-size: $header-heading-height;
        font-weight: normal;
        color: $header-heading-color;
    }
}

.footer {
    margin-bottom: $footer-margin-bottom;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.contact-info {
    display: flex;
    flex-direction: row;
    font-size: $footer-font-size;

    a {
        color: $footer-color;
        margin-left: $footer-margin-left;
        margin-right: $footer-margin-right;
    }
}
