@import "./vars";
@import "./fonts";
@import "./sidebar";


// ---------------------------------------------------------
// Element styles.
// ---------------------------------------------------------
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: $base-link-color;
    text-decoration: none;
    cursor: pointer;
}

article {
    display: block;
}

.site-body {
    @include sans-serif();

    background: $base-background-color;

    font-weight: normal;
    font-size: $base-font-size;
    line-height: $base-line-height;

    width: 100vw;
    min-height: 100vh;

    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: $sidebar-width 1fr;
    grid-template-areas: "sidebar main";
}

.main {
    grid-area: main;
    display: block;

    padding-top: 1rem;
    padding-bottom: 1rem;
    height: 100vh;
    overflow-y: scroll;

    background: $main-background-color;
}

@import "./post-list";
@import "./post";
@import "./page";
@import "./media";
