$table-font-size:   14px;
$table-font-color:  #111;
$table-border-color:  #ddd;
$table-border-width:  1px;

table {
  display: table;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: $table-border-width solid $table-border-color;
}

th, td {
  border-bottom: $table-border-width solid $table-border-color;
  padding: 2px 5px;
  font-size: $table-font-size;
}
