.post-tags {
    font-size: 12px;
    color: $brand-color;
}

.post-tag {
    background-color: blue;
    border-radius: 3px;
    padding: 4px 6px;
    margin-right: 0.5em;
}

.post-tag a {
    color: white;
}
