---
import SlideLayout from "@/layouts/SlideLayout.astro";
---

<SlideLayout title="The Devil You Know">
  <section>
    <h1>The Devil You Know</h1>
  </section>

  <section>
    <h2>What do we think we know about the devil?</h2>
    <h2>What images come to mind?</h2>
  </section>

  <section>
    <h1 class="font-hebrew">השטן</h1>
  </section>
</SlideLayout>
