---
interface Props {
  tag: string;
}

import ListPosts from "@/components/ListPosts.astro";
import PageLayout from "@/layouts/PageLayout.astro";
import type { Post } from "@/types";
import { filterByDate, filterByDraft, getAllPosts } from "@/utils/posts";
import { slugifyTag } from "@/utils/slugify";
import { getCollection } from "astro:content";


export async function getStaticPaths() {
  const posts: Post[] = (await getAllPosts())
    .filter(filterByDraft())
    .filter(filterByDate(new Date()));

  const tagSet = new Set<string>();
  
  for (const post of posts) {
    const tags = post.data.tags && post.data.tags.length > 0 ? post.data.tags : ["Uncategorized"];
    for (const t of tags) tagSet.add(slugifyTag(t));
  }

  return Array.from(tagSet).map((tag) => ({ params: { tag } }));
}

const { tag } = Astro.params;

const readableTag = (await getAllPosts()).reduce((acc, p) => {
  const tags = p.data.tags || [];
  for (const t of tags) {
    if (slugifyTag(t) === tag) return t;
  }
  return acc;
}, "Uncategorized");
---

<PageLayout title={`Tag: ${readableTag}`}>
  <h1 class="my-4">{`Tag: ${readableTag}`}</h1>
  <ListPosts filterTag={tag} />
</PageLayout>
