:root {
  font-size: 20px;
}

h2 {
  margin-top: 2rem;
}

pre {
  margin-bottom: 0;
}

.jm-navbar {
  background-color: var(--bs-gray-900);
  margin-bottom: 3rem;

  .nav-link {
    color: var(--bs-gray-100);
  }
}

.highlight {
  padding: 0.5rem;
}

.highlighter-rouge {
  margin-bottom: 2rem;
}
