---
import PageLayout from "@/layouts/PageLayout.astro";
---

<PageLayout title="Page Not Found - 404" description="The page you requested could not be found.">
  <div class="text-center py-5">
    <h1 class="display-4">404 🤔</h1>
    <p class="lead">The page you were looking for doesn't exist.</p>
    <a class="btn btn-outline-primary" href="/"><i class="bi bi-house-fill"></i> Return home</a>
  </div>
</PageLayout>
