---
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
import Layout from '../layouts/BlogPost.astro';

/**
 * Calendar date I was hired at Eli Lilly.
 */
const eliLillyHireDate = new Date("2018-09-10");
const yearsAtLilly = Math.floor((Date.now() - eliLillyHireDate.getTime()) / (1000 * 60 * 60 * 24 * 365.25));
---

<Layout
  title="About Me"
  description="Lorem ipsum dolor sit amet"
  pubDate={new Date('07 Apr 2026')}
  heroImage={AboutHeroImage}
>
  <p>
	I am an Advisor in Machine Learning Engineering with Eli Lilly's
	Decision Analytics and Optimization team. I have been with Eli Lilly
	for {yearsAtLilly} years.
  </p>

  <h2>About this site</h2>

  <p>
	Icons by <a href="https://lucide.dev/" target="_blank">Lucide</a>.
  </p>
</Layout>
