---
import Certifications from "@/components/Certifications.astro";
import FeaturedContent from "@/components/FeaturedContent.astro";
import Hero from "@/components/Hero.astro";
import ListPosts from "@/components/ListPosts.astro";
import PageLayout from "@/layouts/PageLayout.astro";
---

<PageLayout title="Home">
  <Hero />

  <h2 class="my-5"><i class="bi bi-star-fill text-primary me-2"></i>Featured Content</h2>
  <FeaturedContent
    title="Breadth-First Search"
    description="Interactive visualization breadth-first search of a binary tree"
    linkText="Tryout BFS"
    linkUrl="/visualize/bfs"
  />

  <FeaturedContent
    title="Min & Max Heaps"
    description="Interactive visualization of min and max heaps with step-by-step animations"
    linkText="Learn About Heaps"
    linkUrl="/visualize/heap"
  />

  <h2 class="my-5"><i class="bi bi-file-text text-primary me-2"></i>Latest Posts</h2>
  <ListPosts count={6} />

  <Certifications />
</PageLayout>
