---
import PageLayout from "../layouts/PageLayout.astro";
import ListPosts from "../components/ListPosts.astro";
---

<PageLayout>
  <h1 class="mt-5">Posts</h1>

  <ListPosts count={5} />
</PageLayout>
