---
import ListPosts from "@/components/ListPosts.astro";
import PageLayout from "@/layouts/PageLayout.astro";
---

<PageLayout title="Posts">
  <h1 class="my-5">Posts</h1>

  <ListPosts />
</PageLayout>
