---
import Certification from "./Certification.astro";
---

<div class="row justify-content-center my-5">
  <div class="col-auto">
    <Certification
      imageSrc="aws-certified-cloud-practitioner.png"
      imageAlt="AWS Certified Cloud Practicioner"
    >
      AWS Certified<br />
      Cloud Practitioner
    </Certification>
  </div>
  <div class="col-auto">
    <Certification 
      imageSrc="aws-certified-solutions-architect-associate.png"
      imageAlt="AWS Certified Solutions Architect Associate"
    >
      AWS Certified<br />
      Solutions Architect<br />
      Associate
    </Certification>
  </div>
  <div class="col-auto">
    <Certification
      imageSrc="aws-certified-machine-learning-engineer-associate.png"
      imageAlt="AWS Certified Machine Learning Engineer Associate"
    >
      AWS Certified<br />
      Machine Learning Engineer<br />
      Associate
    </Certification>
  </div>
  <div class="col-auto">
    <Certification
      imageSrc="microsoft-certified-fundamentals-badge.svg"
      imageAlt="Microsoft Certified Azure AI Fundamentals"
    >
      Microsoft Certified<br>
      Azure AI Fundamentals
    </Certification>
  </div>
</div>
