---
import SocialLinks from "./SocialLinks.astro";
const today = new Date();
---

<footer>
  &copy; {today.getFullYear()} Jarrett Meyer. All rights reserved. Whatever that means.
  <div class="social-links">
    <SocialLinks size={32} />
  </div>
</footer>

<style>
  footer {
    padding: 2em 1em 6em 1em;
    background: rgb(var(--bg-surface));
    color: rgb(var(--gray));
    text-align: center;
  }
  .social-links {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: 1em;
  }
  .social-links :global(a) {
    text-decoration: none;
    color: rgb(var(--gray));
  }
  .social-links :global(a:hover) {
    color: rgb(var(--gray-dark));
  }
</style>
