---
import { Calendar } from 'lucide-astro';

interface Props {
	date: Date;
}

const { date } = Astro.props;
---

<span class="formatted-date">
	<Calendar size="1em" aria-hidden="true" />
	<time datetime={date.toISOString()}>
		{
			date.toLocaleDateString('en-us', {
				year: 'numeric',
				month: 'short',
				day: 'numeric',
			})
		}
	</time>
</span>

<style>
	.formatted-date {
		display: inline-flex;
		align-items: center;
		gap: 0.25em;
		color: rgb(var(--gray));
	}
</style>
