---
import { SITE_TITLE } from "../consts";
import HeaderLink from "./HeaderLink.astro";
import SocialLinks from "./SocialLinks.astro";
import ThemeToggle from "./ThemeToggle.astro";
---

<header>
  <nav>
    <h2>
      <a href="/"
        ><img
          src="/favicon.svg"
          alt="coffee"
          width="24"
          height="24"
          style="vertical-align: middle; margin-right: 0.4em;"
        />{SITE_TITLE}</a>
    </h2>
    <div class="internal-links">
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/articles">Articles</HeaderLink>
      <HeaderLink href="/about">About</HeaderLink>
    </div>
    <div class="social-links">
      <SocialLinks size={28} />
      <ThemeToggle />
    </div>
  </nav>
</header>
<style>
  header {
    margin: 0;
    padding: 0 1em;
    background: rgb(var(--bg-surface));
    transition: background-color 0.2s ease;
  }
  h2 {
    margin: 0;
    font-size: 1em;
  }

  h2 a,
  h2 a.active {
    text-decoration: none;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  nav a {
    padding: 1em 0.5em;
    color: rgb(var(--black));
    border-bottom: 4px solid transparent;
    text-decoration: none;
  }
  nav a.active {
    text-decoration: none;
    border-bottom-color: var(--accent);
  }
  .social-links {
    display: flex;
  }
  .social-links :global(a) {
    display: flex;
    padding: 1em 0.5em;
    color: rgb(var(--black));
    border-bottom: 4px solid transparent;
    text-decoration: none;
  }
  @media (max-width: 720px) {
    .social-links {
      display: none;
    }
  }
</style>
