---
---

<section id="hero" class="mt-5 py-5 text-center">
  <h1 class="fs-1 fw-semibold">Hello, I'm Jarrett!</h1>
  <p class="fs-3 fw-lighter">Senior Architect and Technology Strategy Leader</p>
  <p class="fs-4 fw-light">
    Over 20 years of experience driving transformational software and data 
    solutions. Expertise in AWS cloud infrastructure, machine learning engineering,
    and delivering scalable data solutions.
  </p>
</section>

<style>
  #hero h1 {
    font-size: 4rem;
  }

  #hero p {
    max-width: 60rem;
    margin-left: auto;
    margin-right: auto;
  }
</style>
