---
interface Props {
  difficulty: "Easy" | "Medium" | "Hard";
  href: string;
}

const { difficulty, href } = Astro.props;

let colorClass = "text-bg-success";
if (difficulty === "Medium") {
  colorClass = "text-bg-warning";
} else if (difficulty === "Hard") {
  colorClass = "text-bg-danger";
}

const hrefUrl = new URL(href);
---

<div class="alert alert-secondary" role="alert">
  <p>
    <a href={href} target="_blank" rel="noopener noreferrer">See original problem on {hrefUrl.host}</a>
  </p>
  <p>
    Difficulty: <span class={`badge rounded-pill ${colorClass}`}>{difficulty}</span>
  </p>
</div>

