---
interface Props {
  runtime: number;
  beats?: number;
}

const { runtime, beats } = Astro.props;

let bgColorClass: string = "";
let textColorClass: string = "";

if (!beats) {
  bgColorClass = "bg-body-secondary";
  textColorClass = "text-body-secondary";
} else if (runtime === 0 || beats > 80) {
  bgColorClass = "bg-success-subtle";
  textColorClass = "text-success-emphasis";
} else if (beats > 50) {
  bgColorClass = "bg-warning-subtle";
  textColorClass = "text-warning-emphasis";
} else if (beats > 0) {
  bgColorClass = "bg-danger-subtle";
  textColorClass = "text-danger-emphasis";
} else {
  bgColorClass = "bg-body-secondary";
  textColorClass = "text-body-secondary";
}
---

<div class="row">
  <div class="col-12 col-md-6 col-lg-4">
    <div class={`card mb-4 ${bgColorClass} ${textColorClass}`}>
      <div class="card-body">
        <h5 class="card-title">
          <i class="bi bi-stopwatch"></i> Runtime
        </h5>
        <p class="card-text">
          <span class="fs-5 fw-bolder">{runtime}</span>
          <span class="fs-6">ms</span> | <span class="fs-6">Beats</span>
          <span class="fs-5 fw-bolder">{(beats ?? 0).toFixed(2)}%</span>
        </p>
      </div>
    </div>
  </div>
</div>
