---
// See https://getbootstrap.com/docs/5.3/components/navbar/
const navbarContentId = "navbar-collapsible-content";
---

<nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top">
  <div class="container">
    <!-- Brand -->
    <span class="navbar-brand mb-0 h1">Jarrett Meyer</span>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target={`#${navbarContentId}`}
      aria-controls={navbarContentId}
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div id={navbarContentId} class="collapse navbar-collapse justify-content-between">
      <div class="navbar-nav me-auto mb-2 mb-lg-0">
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="/posts">Posts</a>
        <a class="nav-link" href="/tags">Tags</a>
      </div>

      <!-- Icons (Right) -->
      <div class="navbar-nav flex-row gap-2">
        <a class="nav-link" href="https://github.com/jarrettmeyer" target="_blank" rel="noopener noreferrer" aria-label="GitHub">
          <i class="bi bi-github fs-5"></i>
        </a>
        <a class="nav-link" href="https://linkedin.com/in/jarrettmeyer">
          <i class="bi bi-linkedin fs-5"></i>
        </a>
        <button class="btn" data-bs-toggle="modal" data-bs-target="#search-modal">
          <i class="bi bi-search fs-5"></i>
        </button>
      </div>
    </div>
  </div>
</nav>
