---
import Search from "astro-pagefind/components/Search";
---

<div id="search-modal" class="modal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <Search uiOptions={{ resetStyles: true, showImages: false }} />
      </div>
    </div>
  </div>
</div>
