.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column-1 {
    flex-grow: 1;
}

.flex-column-2 {
    flex-grow: 1;
    display: block;
}

.input-group {
    margin-bottom: 1rem;
}

.input-group label {
    display: block;
}

.input-group input {
    display: block;
}
