<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body class="site-body">
  <aside class="sidebar">
    <header class="header">
      <a href="/" class="header-banner">
        <img src="/assets/images/coffee-emoji.png" alt="coffee emoji" class="header-banner-logo" />
        <h1 class="header-banner-text">Jarrett Meyer</h1>
      </a>
      <div>&mdash; &mdash; &mdash; &mdash; &mdash;</div>
    </header>

    <footer class="footer">
      <div class="contact-info">
        <a href="mailto:jarrettmeyer@gmail.com" title="contact me via email"><i class="fas fa-at"></i></a>
        <a href="/cv/" title="see my CV"><i class="fas fa-file-alt"></i></a>
        <a href="https://github.com/jarrettmeyer/" title="my Github profile"><i class="fab fa-github"></i></a>
        <a href="https://www.linkedin.com/in/jarrettmeyer/" title="my LinkedIn profile"><i
            class="fab fa-linkedin"></i></a>
      </div>
    </footer>
  </aside>

  <main class="main">
    <div class="content">
      {{ content }}
    </div>
  </main>
</body>

</html>
