---
layout: default
---

<div class="home">

    <h1 class="page-heading">{{ page.title }}</h1>

    <div class="post-content">
        {{ page.description | markdownify }}
    </div>
      
    <ul class="post-list">
        {% for post in site.tags[page.tag] %}
            <li>
                <span class="post-meta">{{ post.date | date: " %d %b %Y" }}</span> &raquo;
                <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </li>
        {% endfor %}
    </ul>
      
</div>      
