---
layout: default
---

<h2 class="post-list-heading">Posts</h2>

<div class="tag-description">
  {{ page.description | markdownify }}
</div>

<ul class="post-list">
  {% for post in site.tags[page.tag] %}
  <li class="post-list-item">
    <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
      <div class="post-meta">{{ post.date | date: "%d %b %Y" }}</div>
      <div class="post-title">{{ post.title }}</div>
      <div class="post-description">{{ post.description }}</div>
      <div class="post-tags">
        Tagged: {% for tag in post.tags %} {% capture tag_name %}{{ tag }}{% endcapture %}
        <span class="post-tag">{{ tag_name }}</span>
        {% endfor %}
      </div>
    </a>
  </li>
  {% endfor %}
</ul>
