body {
    padding-top: 1em;
}

#scrollable {
    position: relative;
    display: flex;
    background-color: white;
    padding: 1em;
}

#scrollable article {
    display: block;
    flex: 1;
    max-width: 20em;
    padding-right: 1em;
}

#scrollable figure {
    flex: 1;
    position: sticky;
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
}

#scrollable svg {
    background-color: white;
}

#scrollable .step {
    color: slategray;
    position: relative;
}

.subtitle {
    color: darkgray;
    display: block;
    font-size: 0.8em;
}
