name: Publish GitHub Pages

on:
  push:
    paths:
      - ".github/workflows/publish_github_pages.yaml"
      - "public/**"
      - "src/**"
      - "astro.config.ts"
      - "package.json"
      - "tsconfig.json"
  pull_request:
    paths:
      - ".github/workflows/publish_github_pages.yaml"
      - "public/**"
      - "src/**"
      - "astro.config.ts"
      - "package.json"
      - "tsconfig.json"
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout your repository using git
        uses: actions/checkout@v5
      - name: Install, build, and upload your site
        uses: withastro/action@v5

  deploy:
    needs: build
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
